/*Новая форма*/


.onecomment {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    position: relative;
    margin-top: 10px;
}

.avatar {
    margin-right: 10px;
}

#commentForm .form__avatar {
    overflow: hidden;
}

#commentForm {
    margin-bottom: 40px!important;
}

.form__avatar {
    display: flex;
    width: 50px;
    height: 50px;
    background: url(../img/avatars/userpic.html);
    background-size: cover;
    border-radius: 50px;
    cursor: pointer;
}

.form__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#commentPush {
    width: 100%;
    background-color: #5890ff;
    color: #fff;
    border: none;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    max-width: 545px;
    margin-top: 10px;
}

#inputCommentText {
    width: 100%;
    border: 2px solid #eee;
    padding: 5px;
    margin-top: 10px;
    max-width: 545px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: none;
}

#inputCommentName {
    width: 100%;
    border: 2px solid #eee;
    padding: 5px;
    max-width: 545px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: none;
}

#commentPush i {
    margin-left: 5px;
}

.form__avatar {
    display: flex;
    width: 50px;
    height: 50px;
    background: url(../img/userpic.png);
    background-size: cover;
    border-radius: 50px;
    cursor: pointer;
}

input[type='file'] {
    opacity: 0;
    width: 1px;
    height: 1px;
}

.fa-chevron-right img {
   width: 14px;
    height: 19px; 
}

#commentForm {
        margin-left: 158px;
}

#commentPush i {
    position: relative;
    top: 6px;
}

#commentPush {
        padding-bottom: 15px!important;
}

@media screen and (max-width: 480px) {
    #commentForm {
        margin-left: 0;
}
}